[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
keras = "==2.15.0"
tensorflow = "==2.15.0"
flask = "*"
pillow = "*"


[dev-packages]
numpy = "*"
pandas = "*"
matplotlib = "*"
jupyter = "*"
seaborn = "*"
scikit-learn = "*"


[requires]
python_version = "3.10.13"
